html, body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Минимальная высота контейнера body равная высоте видимой области экрана */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F6F6F8;
  }
  
::-webkit-scrollbar{
    display:none}

.header {
    background-color: #457B9D;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.logo {
    width: 339px;
    height: 233px;
    position: relative;
    top: -70px;
    left: 0px;
}
  
nav ul {
    list-style: none;
    display: flex;
    padding: 0; /* Добавьте отступы 0, чтобы убрать стандартные отступы у ul */
}
@import url(https://fonts.googleapis.com/css?family=Anton:regular);
nav ul li {
    margin-right: 20px;
    color: #FFF;
    font-family: anton;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.7px;
    text-decoration: none; /* Убрать подчеркивание */
    list-style: none; /* Убрать маркеры списка */
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

/* Анимация при наведении */
ul li:hover {
    background-color: #5C99B1; /* Новый цвет фона при наведении */

  }

/* Добавьте стили для ссылок (a) внутри li */
nav ul li a {
    color: inherit; /* Унаследует цвет от родительского элемента li */
    text-decoration: none; /* Убрать подчеркивание для ссылок */
}
  
.Muscle {
    flex-shrink: 0;
    position: absolute;
    top: 40px;
    left: 1025px;
    
}
.Training {
    flex-shrink: 0;
    position: absolute;
    top: 40px;
    left: 1200px;
}
.About {
    flex-shrink: 0;
    position: absolute;
    top: 40px;
    left: 1375px;
}
.Contacts {
    flex-shrink: 0;
    position: absolute;
    top: 40px;
    left: 1550px;
}
.Login {
    flex-shrink: 0;
    position: absolute;
    top: 40px;
    left: 1725px;
}
.LV {
    flex-shrink: 0;
    position: absolute;
    top: 40px;
    left: 1800px;
}

main {
  position: relative;
  min-height: calc(100% - 100px); /* 100px - высота футера */
  flex: 1 0 auto;
}

/* Стили для футера */
.footer {
  width: 100%; /* Ширина на всю ширину экрана */
  background-color: #457B9D;
  bottom: 0;
  color: #fff;
  padding: 10px 0;
  flex: 0 0 auto;
  /*flex-direction: column; /* Располагаем элементы списка в колонку */
  height: 100px;
  z-index: 2; /* Добавьте z-index для футера */
  
}


/* Стили для изображений (иконок) */
.insta img,
.google img {
  width: 24px; /* Укажите желаемую ширину иконки */
  height: 24px; /* Укажите желаемую высоту иконки */
  margin-right: 10px; /* Отступ между иконкой и текстом */
  display: inline-block;
}

.insta,
.google {
  display: flex; /* Отображаем элементы внутри .social_media_item в строку */
  align-items: center; /* Выравниваем элементы внутри .social_media_item по вертикали */
  margin-bottom: 10px; /* Отступ между парами иконки и текста */
  position: absolute; /* Добавьте позиционирование */
  z-index: 1; /* Добавьте z-index для позиционирования над футером */

}

/* Стили для контейнера ссылки */
.insta a,
.google a,
.back-to-top a {
  position: relative;
  display: inline-flex;
  text-decoration: none;
  color: #FFF;
  /*font-family: anton;*/
}

/* Стили для текста */
.insta p,
.google p,
.back-to-top p {
  margin: 0;
  transition: background-color 0.3s ease;
  display: inline-block;
  z-index: 2;
}

/* Стили для подсветки при наведении на текст */
.insta a:hover::before,
.google a:hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5C99B1;
  z-index: -1;
  
}

.insta{
  bottom: 50px;
  left: 50px;
}

.google{
  bottom: 20px;
  left: 50px;
}

.back-to-top:hover {
  background-color: #5C99B1; /* Новый цвет фона при наведении */
}
.back-to-top {
  position: absolute; /* Добавьте позиционирование */
  z-index: 1; /* Добавьте z-index для позиционирования над футером */
  bottom: 20px;
  right: 40px;
  white-space: nowrap; /* Запрещаем перенос текста */
  font-family: Anton;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 1.0px;
}



/* Стили для слайд-шоу контейнера */
.slideshow-container {
  position: relative;
  width: 100%;
  max-height: 700px; /* Максимальная высота слайд-шоу 430 830 630 700*/
  overflow: hidden;
  margin: 0 auto; /* Центрирование по горизонтали */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots{
  text-align: center;
}
.active {
  background-color: #717171;
}

/* Стили для слайдов */
.slide {
  display: none;
  width: 100%;
}

/* Стили для изображений в слайде */
.slide img {
  width: 100%;
  height: auto;
}

/* Стили для стрелок переключения */
.prev, .next {
  position: absolute;
  top: 415px; /* Размещаем по вертикали посередине слайд-шоу */
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  color: #FFF;
}

.prev {
  left: 10px; /* Отступ от левого края */
}

.next {
  right: 10px; /* Отступ от правого края */
}

.muscle-div{
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Делаем родительский контейнер относительным */
  display: flex;
  flex-direction: column; /* Размещаем элементы вертикально */
  align-items: center;
  
}

.muscle-text{
  margin-top: 790px;
  margin-bottom: 50px;
  position: absolute;
  top: 0; /* Размещаем наверху */
  left: 50%; /* Размещаем по центру горизонтально */
  transform: translateX(-50%); /* Корректируем положение по горизонтали на половину ширины текста */
  color: #0D1C2E;
  font-family: Anton;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
}

.muscle-div img{
  width: 930px;
  height: 813px;
  flex-shrink: 0;
  margin-top: 200px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div.map.maphilghted{
  top: 200px;
  left: 50px;
}
/* .map{
  width: 930px;
  height: 813px;
  margin-top: 200px;
  margin-bottom: 50px;
} */
/* 
/* Стиль для подсветки области 
.area-highlighted {
  background-color: red; /* Измените цвет подсветки на желаемый 
  opacity: 0.5; /* Прозрачность подсветки 
  transition: background-color 0.3s ease, opacity 0.3s ease; /* Анимация смены цвета и прозрачности 
  z-index: 1;
  position: relative; /* Необходимо для правильного отображения 
}
 */

.slideshow-container {
  position: relative;
  overflow: hidden;
  background-color: #00563f;
  color: #fff;
  text-align: center;
  }
  
  .slideshow-container img {
  width: 100%;
  height: auto;
  transition: filter 0.3s, transform 0.3s;
  }
  
  .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s, font-size 0.3s;
  z-index: 1;
  }
  
  .hero-text h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  z-index: 1;
  }
  
  .hero-text p {
  font-size: 16px;
  z-index: 1;
  }
  
  .slideshow-container:hover img {
  filter: brightness(70%);
  transform: scale(1.05);
  }
  
  .slideshow-container:hover .hero-text {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
  }

  .map-text{
    margin-top: 1840px;
    margin-bottom: 50px;
    position: absolute;
    top: 0; /* Размещаем наверху */
    left: 50%; /* Размещаем по центру горизонтально */
    transform: translateX(-50%); /* Корректируем положение по горизонтали на половину ширины текста */
    color: #0D1C2E;
    font-family: Anton;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    z-index: 2;
  }


  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
